[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
pylint = "*"

[packages]
numpy = "*"
matplotlib = "*"
jupyterlab = "*"
nbsphinx = "*"
nbconvert = "*"
pandoc = "*"
autopep8 = "*"
pillow = "*"

[requires]
python_version = "3.8"
